name: Cypress test
on:
  push:
    branches: [main]
  pull_request:
     branches: [main]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.3-chrome87-ff82
    steps:
      - name: Checkout GitCode
        uses: actions/checkout@v2
  
      - name: Run Cypress Test
        uses: cypress-io/github-action@v4
        with:
         command: npx cypress run
         browser: chrome
